main {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 0 50px;
}

h1 {
    text-align: center;
}

p {
    margin: 0;
    text-align: center;
}